.container {
  padding: 0 0rem;
}

.main {
  min-height: 100vh;
  padding: 0 0;
  background: linear-gradient(180deg, #1D539E 0%, #1D539E 50%, #F9FBFC 50%, #F9FBFC 100%)
}


.center{
  display: flex;
  justify-content: center;
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

@media only screen 
   and (max-width : 1200px) {
   /* Styles here */

   .main {
    min-height: 100vh;
    padding: 0 0;
    background: linear-gradient(90deg, #1D539E 0%, #1D539E 50%, #1d539ea0 90%, #1d539ea0 90%)
  }
  
   .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}
